.body {
  background-image: url(../Assets/background-all.png);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.findCourt-bg {
  display: flex;
  justify-content:center;
  align-items:center;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  /* background-color: black; */
  z-index: 9999;
  backdrop-filter: blur(10px); 
  /* background-color: rgba($color-black, .3); */
  /* opacity: 0;
  visibility: hidden;
  transition: all .3s;     */
}
.findCourt-content {
  width: 70%;
  height:60%;
  background-color: #2C3C82;
  box-shadow: 0 2rem 4rem rgba(black,.2);
  border-radius: 30px;
  overflow: hidden;
  /* transition: all .5s .2s;s */
  display: flex;
  flex-direction: column;
}
.findCourt-content >* {
  margin-left: 20px;
}

.content-line-1 {
  display: flex;
  height: 10%;
  width: 100%;
  align-items:center;
  margin-top: 20px;
}
.content-line-input {
  border-radius: 30px;
  background-color: #8697CB;
  height: 50px;
  width: 80%;
  margin:20px 20px 20px 0px;
  padding-left: 50px;
  color: black;
  border: none;
  position: relative;
  font-size: 1rem;
}
input::placeholder {
  color: black;
  font-family: 'Prompt', sans-serif;
}
.content-line-button {
  height: 50px;
  border:none;
  background-color: #ECBE32;
  border-radius: 10px;
  padding: 0px 10px;
  font-family: 'Prompt', sans-serif;
}
.content-line-2 {
  display: flex;
  align-items:center;
  margin-top: 20px;
  background-color:#8697CB;
  height: 50px;
  width: 20%;
  padding-left: 20px;
  border-radius: 30px;
}
.content-line-3 {
  display: flex;
  text-align: left;
  margin-top:20px;
  margin-left: 60px;
  font-size: 1.5rem;
  color: white;
}
.date {
  display: flex;
  margin-top: 20px;
}
.time {
  display: flex;
}
.content-line-3 > * {
  width: 50%;
}
.content-line-3-time {
  display: flex;
}
.content-line-3-time > * {
  margin: 20px;
  margin-left: 0px;
}
.content-line-3-submit {
  border: none;
  border-radius: 20px;
  background-color: #E5E5E5;
  font-family: 'Prompt', sans-serif;
}
.content-line-4 {
  display: flex;
  text-align: left;
  border-radius: 30px;
  margin: 40px 0px 20px 60px;
  font-size: 1.5rem;
  color: white;
}
.content-line-4-numberOfCourt {
  display: flex;
  flex-direction: column;
}
.content-line-4-numberOfCourt > * {
  margin-bottom: 15px;
}

.content-line-4 > *{
  width: 50%;
}
.content-line-4-number {
  width: 20%;
  border-radius: 20px;
  border: none;
  background-color: #E5E5E5;
  height: 40px;
}
.content-line-4-submit {
  width: 20%;
  height: 60px;
  border:none;
  background-color: #ECBE32;
  border-radius: 20px;
  margin: 40px 0px 0px 40px;
  font-size: 1.5rem;
}
.number_court {
  display: flex;
}
.arrow-down {
  fill: white;
  align-self: center;
}
