.coupon {
    width: 35%;
    height: 75%;
    background-color: #2C3C82;
    border-radius: 100px;
    color: rgb(177, 137, 137);
    margin: 40px;
    padding: 30px;
    display: grid;
    grid-template-rows: 10% 80% 10%;
    font-size: 1.4rem;
    justify-items: center;
}
.promo-code {
    border-radius: 20px;
    background: white;
    border: none;
    height: 80%;
    width: 90%;
    padding-left: 20px;
}
.coupon-all {
    margin: 20px 20px 20px 0px;
    width: 100%;
}
.coupon-each {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    border-radius: 20px;
    width: 100%;
    height: 20%;
    background-color: rgba(240, 241, 241, 0.99);
    margin: 10px;
}
.coupon-img {
    width: 80%;
    height: 100%;
}
.coupon-each-text {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    align-items: flex-start;
    justify-content: center;
}
.coupon-each-text-urgent {
    color: red;
}
.coupon-each-text-for {
    color: black;
}
.coupon-each-text-valid {
    color: gray;
}   
.coupon-each-button {
    background-color: #C4C4C4;
    color: #2C3C82;
    border-radius: 20px;
    border: none;
    height: 50%;
    margin: auto 10px;
}
.coupon-button {
    background-color: #BA4D3C;
    color: white;
    border-radius: 20px;
    border: none;
    font-family: inherit;
    width: 100px;
    font-size: 1.3rem;
}