.header {
  display: flex;

  background-color: #ffb5a7;
  height: 10vh;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  box-shadow: 5px 5px 5px 5px rgba(160, 95, 95, 0.3);
  z-index: 1;
}

.logo {
  left: 0px;
  max-width: 100%;
  max-height: 9.9vh;
  margin-right: 10px;
  cursor: pointer;
}

.icon {
  cursor: pointer;
}
