.header {
  display: flex;

  background-color: #ffb5a7;
  height: 10vh;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

.logo {
  left: 0px;
  height: 100%;
  margin-right: 10px;
  cursor: pointer;
}

.icon {
  cursor: pointer;
}
