.card_wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #f1faee;
}

.card_component {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 34%;
  height: 20vh;
}

.body_wrapper {
  margin: 0px;
}
