.card_wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card_component {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 40%;
  height: 13vh;
}
