.card_wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.card_component {
  display: flex;
  transition: transform 200ms ease-in !important;

  justify-content: center;
  align-items: center;
  margin: 70px;
  width: 34%;
  height: 20vh;
  box-shadow: 5px 5px 5px 5px rgba(160, 95, 95, 0.3) !important;
  cursor: pointer;
}
.card_component:hover {
  transform: scale(1.1);
}

.body_wrapper {
  margin-bottom: 5px;
  background-color: #fcd5ce;
  box-shadow: 5px 5px 5px 5px rgba(160, 95, 95, 0.3);
}

.img_component {
  height: 90%;
  width: 300px;
  object-fit: contain;
}
