.card_wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
  margin-bottom: 40px;
}
.card_wrapper-text{
  font-size: 3rem;
  font-weight: bold;
  margin-left: 50px;
  margin-top: 40px;
  text-align: start;
  text-decoration-style : none !important;
}
/* &:focus, &:hover, &:visited, &:link, &:active */

.card-wrapper-sub {
  height: 300px;
  width: 20%;
  border-radius: 50px;
  background-color: #E5E5E5;
}
.card-wrapper-sub-pic {
  margin-top: 20px;
  margin-bottom: 20px;
  width:200px;
  height:200px;
} 
.card-wrapper-sub-text {
  font-size: 1.5rem;
}

.card_component {
  display: flex;
  transition: transform 200ms ease-in !important;

  justify-content: center;
  align-items: center;
  margin: 70px;
  width: 34%;
  height: 20vh;
  box-shadow: 5px 5px 5px 5px rgba(160, 95, 95, 0.3) !important;
  cursor: pointer;
}
.card_component:hover {
  transform: scale(1.1);
}

.body_wrapper {
  margin-bottom: 5px;
  border-bottom: 1px solid gray;
}

.img_component {
  height: 90%;
  width: 300px;
  object-fit: contain;
}
