.body_nearby {
  margin-bottom: 5px;
  border-top: 1px solid gray;
}
.nearby-start {
  display: flex;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  margin-left: 60px;
  margin-top: 30px;
}
.nearby-logo {
  width: 50px;
  height: 50px;
}

.body_nearby_wrapper {
  display: flex;
  justify-content: center;
}

.nearby_card {
  width: 100%;
  height: 60vh;
  margin: 40px;
  box-shadow: 5px 5px 5px 5px black !important;
  transition: transform 200ms ease-in !important;
}

.nearby_card:hover {
  transform: scale(1.07);
}
